@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: white; }

nav img {
  width: 60px;
  padding: 5px;
  margin: auto;
  border-radius: 70px; }

nav ul a:hover {
  background-color: #585858;
  color: white;
  font-size: 18px;
  border-radius: 10px; }

.mainIndex h1,
.mainIndex h2,
.mainIndex p,
.mainIndex li {
  margin: 1rem 0;
  text-align: center; }

.mainIndex h1 {
  font-size: 28px; }

.mainIndex h2 {
  font-size: 24px; }

.mainIndex p {
  font-size: 16px; }

.mainIndex a {
  font-size: 20px;
  text-decoration: none;
  color: #34aee3; }

.mainIndex img {
  width: 100%;
  height: 60vh;
  object-fit: cover; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.column {
  flex-basis: 48%;
  margin-bottom: 20px; }

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px; }

.texto {
  font-family: 'Bebas Neue', cursive;
  margin: 1rem 0;
  color: black;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center; }

.tituloColumna {
  color: slateblue;
  font-weight: bold;
  text-align: center;
  font-size: 30px; }

.parrafoColumna p,
.parrafoColumna h2 {
  text-align: justify; }

section {
  display: flex;
  align-items: center; }

.imagenAcerca {
  max-width: 33%;
  height: max-content;
  display: block;
  margin: 50px auto;
  border-radius: 30px; }

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .text-container h2 {
    text-align: center;
    font-weight: bold; }
  .text-container p {
    text-align: justify; }

button {
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: border-radius 0.3s; }
  button:hover {
    border-radius: 2rem; }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto; }
  form label {
    width: 30%;
    text-align: left;
    padding-right: 1rem; }
  form select,
  form input[type="email"],
  form textarea {
    width: 50vh;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.price {
  color: salmon;
  font-weight: bold;
  text-align: center; }

.catalog-item {
  position: relative;
  overflow: hidden; }

.catalog-item img {
  transition: transform 0.3s ease; }

.catalog-item:hover img {
  transform: scale(1.1); }

.catalog-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.catalog-item:hover .overlay {
  opacity: 1; }

footer {
  margin-top: 5rem;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos para computadoras de escritorio */
@media (min-width: 1081px) {
  .texto {
    font-size: 60px; }
  .tituloColumna {
    font-size: 40px; }
  .parrafoColumna {
    font-size: 30px; }
  .column {
    flex-basis: 30%; }
  iframe {
    width: 470px;
    height: 290px; } }

/* Estilos para tablets en orientación horizontal y celulares en orientación vertical */
@media (max-width: 1080px) {
  .mainIndex img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px; }
  .texto {
    font-size: 40px; }
  .tituloColumna {
    font-size: 30px; }
  .parrafoColumna {
    font-size: 20px; }
  .container {
    flex-direction: column;
    align-items: center; }
  .column {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px; }
  .imagenAcerca {
    width: 100%;
    height: auto; }
  .text-container {
    text-align: center;
    padding: 20px;
    width: 80%; }
  iframe {
    width: 450px;
    height: 255px; } }

/* Estilos para celulares en orientación horizontal */
@media (max-width: 1070px) {
  .mainIndex img {
    max-width: fit-content;
    align-content: center;
    align-items: center;
    height: 20rem;
    margin-bottom: 100px; }
  .texto {
    font-size: 30px; }
  .tituloColumna {
    font-size: 24px; }
  .parrafoColumna {
    font-size: 16px; }
  form {
    width: 80%; }
  iframe {
    width: 320px;
    height: 205px; } }

@media (max-width: 450px) {
  .mainIndex img {
    max-width: cover;
    align-content: center;
    align-items: center;
    height: 12rem;
    margin-bottom: 100px; }
  .texto {
    font-size: 30px; }
  .tituloColumna {
    font-size: 24px; }
  .parrafoColumna {
    font-size: 16px; }
  form {
    width: 80%; }
  iframe {
    width: 380px;
    height: 205px; } }
