nav {
    img {
      width: 60px;
      padding: 5px;
      margin: auto;
      border-radius: 70px;
    }
  
    ul a:hover {
      background-color: rgb(88, 88, 88);
      color: white;
      font-size: 18px;
      border-radius: 10px;
    }
  }