@import "var";
@import "body";
@import "header";
@import "main";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1081px) {
  .texto {
    font-size: 60px;
  }

  .tituloColumna {
    font-size: 40px;
  }

  .parrafoColumna {
    font-size: 30px;
  }

  .column {
    flex-basis: 30%;
  }
  iframe {
    width:470px; 
    height:290px;
  }
  
}

/* Estilos para tablets en orientación horizontal y celulares en orientación vertical */
@media (max-width: 1080px) {
  .mainIndex img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .texto {
    font-size: 40px;
  }

  .tituloColumna {
    font-size: 30px;
  }

  .parrafoColumna {
    font-size: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .imagenAcerca {
    width: 100%;
    height: auto;
  }

  .text-container {
    text-align: center;
    padding: 20px;
    width: 80%;
  }

  iframe {
    width:450px; 
    height:255px;
  }
  
}

/* Estilos para celulares en orientación horizontal */
@media (max-width: 1070px) {
  .mainIndex img {
    max-width:fit-content;
    align-content: center;
    align-items: center;
    height: 20rem;
    margin-bottom: 100px;

  }
  .texto {
    font-size: 30px;
  }

  .tituloColumna {
    font-size: 24px;
  }

  .parrafoColumna {
    font-size: 16px;
  }

  form {
    width: 80%;
  }

  iframe {
    width:320px; 
    height:205px;
  }
}

@media (max-width: 450px) {
  .mainIndex img {
    max-width:cover;
    align-content: center;
    align-items: center;
    height: 12rem;
    margin-bottom: 100px;

  }
  .texto {
    font-size: 30px;
  }

  .tituloColumna {
    font-size: 24px;
  }

  .parrafoColumna {
    font-size: 16px;
  }

  form {
    width: 80%;
  }

  iframe {
    width:380px; 
    height:205px;
  }

}