@import "var";
@import "body";
@import "header";
@import "main";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1024px) {
  .texto {
    font-size: 60px;
  }

  .tituloColumna {
    font-size: 40px;
  }

  .parrafoColumna {
    font-size: 30px;
  }

  .column {
    flex-basis: 30%;
  }
}

/* Estilos para tablets en orientación horizontal y celulares en orientación vertical */
@media (max-width: 1023px) {
  .texto {
    font-size: 40px;
  }

  .tituloColumna {
    font-size: 30px;
  }

  .parrafoColumna {
    font-size: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .imagenAcerca {
    width: 100%;
    height: auto;
  }

  .text-container {
    text-align: center;
    padding: 20px;
    width: 80%;
  }

  iframe {
    width:300px; 
    height:315;
  }
  
}

/* Estilos para celulares en orientación horizontal */
@media (max-width: 767px) {
  .texto {
    font-size: 30px;
  }

  .tituloColumna {
    font-size: 24px;
  }

  .parrafoColumna {
    font-size: 16px;
  }

  form {
    width: 80%;
  }

}